@import "../index.css";

.project:hover .project-name {
    transform: rotateX(360deg);
    transition: transform 0.3s ease-in-out;
    transform-origin: center;
}

.project-summary {
    color: var(--text-dark);
    /* overflow: hidden; */
    /* margin-bottom: 10px; */
}

/* Initial state */


.project-bottom {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* height: 100%; */
    padding-left: 0upx;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    text-justify: top;

    /* background-color: rgb(221, 255, 0); */
}

.project-overview {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
    margin: 20px 0 20px 0;
}

.overview-table {
    display: grid;
    flex: 0 0 auto;
    gap: 30px;
    grid-auto-rows: min-content;
    grid-template-columns: repeat(4, minmax(50px, 100%));
    grid-template-rows: repeat(1, min-content);
    height: min-content;
    justify-content: center;
    overflow: visible;
    padding: 0px;
    position: relative;
    width: 100%;
}

.overview-column {
    display: inline-flex;
    width: fit-content;
    flex-direction: column;
    justify-content: left;
    text-align: left;
}

.skill-tag-small {
    width: min-content;
    height: 50px;
    margin: 0px;
    padding: 0px;
    justify-self: left;
    align-self: left;
    object-fit: scale-down;
}

.overview-column-title {
    color: var(--text-highlight);
}

.project-expanded {
    display: flex;
    flex-direction: column;

    padding: 0 10% 10px 10%;
    color: var(--text-dark);
    background-color: var(--background);
    z-index: 0;
}

.project-expanded-top {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    color: var(--text-dark);
}

.project-top {
    display: flex;
    width: 60%;
    align-content: center;
    justify-content: center;
    margin: 0%;
    padding: 0%;
    /* background-color: blueviolet; */
}

.project-icon {
    width: 80%;
    max-height: 600px;
    margin: auto;
    border-radius: 10px;
    object-fit: scale-down;
}


.subsection-header {
    text-align: left;
    font-size: x-large;
    margin-top: 20px;
}

.small-header{
    text-align: left;
    font-size: large;
}

.process-right {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: auto;
    margin: auto;
}

.process-image {
    max-width: 300px;
}



.project-expanded-bottom {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 18px;
    margin-top: 20px;
}



.project-expanded-summary {
    margin-top: 20px;
    padding-right: 40px;
    width: 50%;
    text-justify: left;
    text-align: left;
}

.project-contribution-left {
    display: flex;
    margin: 20px;
    width: 100%;
    max-height: 400px;
}

.contribution-image {
    /* padding-right: 40px; */
    max-width: 100%;
    max-height: 100%;
    /* width: 100%; */
    padding: auto;
    margin: auto;
    border-radius: 10px;
}


.project-contribution-right {
    width: 100%;
    text-justify: left;
    text-align: left;
}

.project-brief {
    width: 50%;
    text-justify: left;
    text-align: left;
}

.project-details {
    text-justify: left;
    text-align: left;
    justify-content: center;
    align-content: center;
}

.see-project-div {
    display: flex;
    position: relative;
    height: auto;
    /* top: 30px; */
    margin: 100px 0px 20px 0px;
    justify-content: space-between;
    align-content: center;
    z-index: 3;
}

.project-name-expanded {
    padding: 0px;
    margin: 0px;
    color: var(--text-dark);
}

.child-links {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-justify: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    width: auto;
    padding: 20px;
}

/* hr {
    border: 2px solid var(--text-dark);
} */

.child-links a {
    font-weight: 400;
    font-size: 200%;
    text-align: center;
    text-justify: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
}

.left-arrow {
    width: 30px;
    height: 30px;
    margin: 0px;
    padding: 0px;
    rotate: 180deg;

}

.right-arrow {
    width: 30px;
    height: 30px;
    margin: 0px;
    padding: 0px;
}

p {
    font-size: 18px;
    font-weight: 300;
}

.round-button {
    display: flex;
    background-color: var(--text-highlight);
    color: var(--background);
    padding: 10px;
    border-radius: 50%;
    height: 100%;
    width: auto;
    transition: background-color .5s ease;
    box-sizing: border-box;
}

.round-button:hover {
    background-color: var(--secondary);
    color: var(--background);
    border-radius: 50%;
    transition: background-color .5s ease;
    border-color: var(--secondary);
    box-sizing: border-box;
}

.progress-bar-full {
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    right: 0%;
    height: 10px;
    background-color: var(--text-highlight);
    transform-origin: 0%;
}


.project-icon-full{
    width: 100%;
}

@media screen and (max-width: 1000px) {
    body {
        overflow: scroll;
    }

    .see-project-div {
        display: flex;
        position: relative;
        height: auto;
        /* top: 30px; */
        margin: 50px 0px 0px 0px;
        justify-content: space-between;
        align-content: center;
        z-index: 1;
    }

    .overview-table {

        grid-template-columns: repeat(2, minmax(50px, 100%));
        grid-template-rows: repeat(2, min-content);
    }


    .project-name {
        text-justify: center;
        text-align: left;
        padding: 0px 0px 0px 0px;
        margin-top: 0;
    }

    .project-expanded {
        padding: 0 20px 20px 20px;
    }

    .project-name-expanded {
        font-size: 2rem;
    }

    .project-tag {
        text-justify: center;
        text-align: left;
    }

    .small-header{
        text-justify: center;
        text-align: left;
        font-size: large;
    }

    .project-bottom {
        margin: 0%;
        padding: 0px 0px 5px 0px;
        height: auto;
        justify-content: center;
        text-justify: left;
    }

    .project-expanded-bottom {
        flex-direction: column;
        width: 100%;
        padding: 0px;
        margin: 0px;
    }

    .project-contribution-left {
        max-height: fit-content;
        margin: 0;
    }

    .contribution-image {
        /* padding-right: 40px; */
        max-height: 50%;
    }

    .project-expanded-summary {
        width: 100%;

    }

    .project-brief {
        width: 100%;

    }

    .project-left {
        padding-left: 0px;
        margin-left: 0px;

    }

    .project-right {
        padding-left: 0px;
        margin-left: 0px;
        font-size: 0.50rem;
    }

    p {
        text-align: left;
        word-break: break-word;
        word-spacing: .01rem;
        font-size: 18px;
    }

    .child-links a {
        font-size: 130%;
    }

    .progress-bar-full {
        z-index: 7;
        position: fixed;
        bottom: 0dvh;
        left: 0;
        right: 0;
        height: 5px;
        background-color: var(--text-highlight);
        -ms-transform-origin-x: 0%;
    }

}