@import "../index.css";

.footer{
    display: flex;
    /* position: absolute; */
    margin: 0%;
    padding: 0%;
    height: 80px;
    left: 0;
    width: 100%;
    background-color: var(--secondary);
}


.footer-logo-section {
    display: flex;
    width: 30rem;
    height: auto;
    /* padding: 1rem 0; */
    margin: auto;
    justify-content: left;
    align-items: center;
    text-align: left;
}


.footer-head {
    color: var(--text-light);
    font-family: var(--primary-font);
    padding: 0%;
    margin: 0%;
}

.footer-content {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 100%;
    margin: auto;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.contacts{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: right;
    padding: 0;
}

.link-img{
    padding: 0px;
    height: 30px;
    margin: 10px;
    
}


.social-link{
    color: var(--text-light);
    padding: 0;
}

@media screen and (max-width: 1000px) {
    .footer{
        height: 160px;
    }

    .footer-content {
        flex-direction: column;
    }

    .footer-logo-section {
        display: flex;
        width: auto;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-justify: center;
        margin: auto 0px 0px 0px;
    }

    .footer-head {
        text-align: center;
        text-justify:center; 
    }

    .contacts{
        justify-content: center;
        margin: 10px auto auto auto;
    }

}