@import "../index.css";

.footer{
    display: flex;
    position: absolute;
    height: 100px;
    left: 0;
    width: 100%;
    background-color: var(--secondary);
}


.footer-logo-section {
    width: 30rem;
    /* padding: 1rem 0; */
    margin: auto;
    justify-content: left;
    align-items: center;
    text-align: left;
}


.footer-head {
    color: var(--background);
    font-family: var(--primary-font);
}

.footer-content {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 100%;
    margin: auto;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.contacts{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: right;
    padding: 0;
}

.social-link{
    color: var(--text-light);
    padding: 0;
}
