/* Place in your CSS file at the top of the document */

@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');

@import "../index.css";

.custom-nav {
    /* z-index: 4; */
    width: 100dvw;
    margin: 0px; 
    /* padding: 0px 10% 0px 10%; */
    /* height: 60px; */
    /* background-color: #74546A; */
    /* background-color: var(--background); */
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
}

.logo-section {
    width: 75rem;
    /* padding: 1rem 0; */
    padding-left: auto;
    justify-content: left;
    align-items: center;
    text-align: left;
}

.logo-text {
    color: var(--text-dark);
    font-size: 20px;
    font-family: var(--main-font);
    font-weight: 700;
    letter-spacing: 4;
    word-wrap: break-word;
}

.menu-section {
    position: relative;
    z-index: 7;
    width: 25rem;
    /* padding: 2rem 1rem; */
    display: flex;
    margin: 0px;
    padding: 0px;
    justify-content: left; /* Adjusted alignment */
    align-items: right; /* Adjusted alignment */
    gap: 0.625rem; /* Adjust as needed */
}

.menu-item {
    flex: 1; /* Equal distribution of menu items */
    text-align: center;
    text-justify: center;
    color: var(--text-dark);
    font-size: 20px;
    font-family: var(--main-font);
    font-weight: 400;
    letter-spacing: 0.1875rem; /* Adjust as needed */
    word-wrap: break-word;
}


.menu-item:hover {
    color: var(--text-highlight);
    text-decoration: underline;
}

.empty-space {
    width: 25%;
    padding: 1.5rem 0;
}

.link-img{
    padding: 0px;
    height: 30px;
    margin: 0px;
    margin-right: 40px;
}


@media screen and (max-width: 1000px) {
    .custom-nav{
        width: 100%;
        z-index: 8;
        flex-direction: column;
    }

    .logo-section{
        width: 100%;
        padding-left: 10px;
    }

    .menu-section{
        width: 100%;
        padding-left: 10px;
    }

    .menu-item{
        text-justify: left;
        text-align: left;
    }

    .menu-item {
        font-size: .75rem; /* Adjust font size for smaller screens */
    }
}