@import "../index.css";

#projects-grid {
    display: grid;
    margin-top: 0px;
    margin-bottom: 60px;
    grid-template-columns: repeat(1, 1fr);
    /* 4 columns */
    grid-template-rows: repeat(4, 1fr);
    /* 2 rows */
    gap: 10px;
    /* Adjust as needed for spacing between items */
}

.project {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 10px;
    color: var(--text-dark);
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    padding-bottom: 0px;
    width: 100%;
    gap: 20px;
    /* height:150px; */
    /* border-radius: 25px;
    border: 2px solid #F87C56;
    background-color: var(--text-light);
    filter: drop-shadow(5px 5px 10px #747474);
    backdrop-filter: blur(10px); */
}

.project-expanded {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    color: var(--text-dark);
}

.project-top {
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: center;
    margin: 0%;
    padding: 0%;
    /* background-color: blueviolet; */
}

.project-icon {
    width: 100%;
    margin: auto;
    border-radius: 25px;
}

.contribution-image {
    /* padding-right: 40px; */
    width: 100%;

    margin: auto;
    border-radius: 25px;
}

.subsection-header{
    text-align: center;
    font-size: xx-large;
    margin-top: 60px;
}

.process-right{
    display: flex;
    align-content: center;
    justify-content: center;
    padding: auto;
    margin: auto;
}

.process-image {

   max-width: 300px;
}

.project-bottom {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 0upx;
    text-align: left;
    text-justify: top;

    /* background-color: rgb(221, 255, 0); */
}

.project-expanded-bottom {
    display: flex;
    flex-direction: row;
    
}

.project-summary {
    height: 90%;
}

.project-expanded-summary {
    margin-top: 20px;
    padding-right: 40px;
    width: 50%;
    text-justify: left;
    text-align: left;
}

.project-brief {
    width: 50%;
    text-justify: left;
    text-align: left;
}

.project-details {

    text-justify: left;
    text-align: left;
}

.see-project-div {
    display: flex;
    height: 10%;
    bottom: 100%;
}

.project-name {
    padding: 0px;
    margin: 0px;
    color: var(--text-dark);
}

.project-name-expanded {
    padding: 0px;
    margin: 0px;
    color: var(--text-dark);
}

hr {
    border: 2px solid var(--text-dark);
}

@media screen and (max-width: 1000px) {
    .project {
        flex-direction: column;
        padding: 0px;
    }

    .project-expanded-bottom {
        flex-direction: column;
    }

    .project-expanded-summary {
        width: 100%;

    }
    
    .project-brief {
        width: 100%;

    }


    .project-left {
        padding-left: 0px;
        margin-left: 0px;
    }

    .project-right {
        padding-left: 0px;
        margin-left: 0px;
        font-size: 0.50rem;
    }

}