@import "../index.css";

#projects-grid {
    display: grid;
    margin-top: 0px;
    margin-bottom: 60px;
    grid-template-columns: repeat(1, 1fr);
    /* 4 columns */
    grid-template-rows: repeat(4, 1fr);
    /* 2 rows */
    gap: 2px;
    /* Adjust as needed for spacing between items */
}

.project {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    box-sizing: border-box;
    color: var(--text-dark);
    /* margin: 10px 10px 10px 10px; */
    padding: 10px;
    /* padding: 10px; */
    /* padding-bottom: 0px; */
    width: 100%;
    /* height: 500px; */
    gap: 20px;
    /* height:150px; */
    /* border-radius: 20px; */
    border-top: 1px solid var(--secondary);
    /* border-bottom: 2px solid black; */
    /* background-color: var(--secondary); */
}

.project:hover{
    cursor: pointer;
    
}

.project:hover .project-name{
    transform: rotateX(360deg);
    transition:  transform 0.3s ease-in-out;
    transform-origin: center;

}

.project-summary {
    color: var(--text-dark);
    /* overflow: hidden; */
    /* margin-bottom: 10px; */
}

/* Initial state */
.project-name{
    /* height: auto; */
    color: var(--text-dark); /* Initial color */
    padding: 0px;
    margin: 0px;
}

.project-tag{
    color: var(--text-dark);
    padding: 0px;
    margin: 0px;
    font-weight: 300;
}

.project-bottom {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* height: 100%; */
    padding-left: 0upx;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    text-justify: top;

    /* background-color: rgb(221, 255, 0); */
}

.project-expanded {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    color: var(--text-dark);
}

.project-expanded-top {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    color: var(--text-dark);
}

.project-top {
    display: flex;
    width: 60%;
    align-content: center;
    justify-content: center;
    margin: 0%;
    padding: 0%;
    /* background-color: blueviolet; */
}

.project-icon {
    width: 100%;
    margin: auto;
    border-radius: 10px;

}


.subsection-header{
    text-align: center;
    font-size: xx-large;
    margin-top: 20px;
}

.process-right{
    display: flex;
    align-content: center;
    justify-content: center;
    padding: auto;
    margin: auto;
}

.process-image {
   max-width: 300px;
}



.project-expanded-bottom {
    display: flex;
    flex-direction: row;
    width: 100%;
}



.project-expanded-summary {
    margin-top: 20px;
    padding-right: 40px;
    width: 50%;
    text-justify: left;
    text-align: left;
}

.project-contribution-left{
    display: flex;
    margin: 20px;
    width: 100%;
    max-height: 400px;
}

.contribution-image {
    /* padding-right: 40px; */
    max-width: 100%;
    max-height: 100%;
    /* width: 100%; */
    padding: auto;
    margin: auto;
    border-radius: 10px;
}


.project-contribution-right{
    width: 100%;
    text-justify: left;
    text-align: left;
}

.project-brief {
    width: 50%;
    text-justify: left;
    text-align: left;
}

.project-details {
    text-justify: left;
    text-align: left;
    justify-content: center;
    align-content: center;
}

.see-project-div {
    display: flex;
    height: 10%;
    bottom: 100%;
}

.project-name-expanded {
    padding: 0px;
    margin: 0px;
    color: var(--text-dark);
}

.child-links{
    display: flex;
    flex-direction: column;
    text-align: center;
    text-justify: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    width:auto;
    padding:20px;
}

/* hr {
    border: 2px solid var(--text-dark);
} */

.child-links a {
    font-weight: 400;
    font-size: 200%;
    text-align: center;
    text-justify: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
}

.left-arrow{
    width: 30px;
    height: 30px;
    margin: 0px;
    padding: 0px;
    rotate: 180deg;

}

.right-arrow{
    width: 30px;
    height: 30px;
    margin: 0px;
    padding: 0px;
}

@media screen and (max-width: 1000px) {
    #projects-grid {
        grid-template-rows: auto auto auto auto;
        
    }

    .project {
        flex-direction: column;
        padding: 0px;
        padding-top: 20px;
        margin: 0;
        height: fit-content;
        border-top: none;
    }

    .project-top{
        width: 100%;
    }

    .project-name{
        text-justify: center;
        text-align: center;
        padding-bottom:5px;
        margin-top: 0;
    }
    .project-name-expanded{
        font-size: 2rem;
    }

    .project-tag{
        text-justify: center;
        text-align: center;
    }

    .project-bottom{
        height: auto;
        justify-content: center;
        text-justify: center;
    }

    .project-expanded-bottom {
        flex-direction: column;
        width: 100%;
        padding: 0px;
        margin: 0px;
    }

    .project-contribution-left{
        max-height: fit-content;
        margin: 0;
    }

    .contribution-image {
        /* padding-right: 40px; */
        max-height: 50%;
    }
    
    .project-expanded-summary {
        width: 100%;

    }
    
    .project-brief {
        width: 100%;

    }

    .project-left {
        padding-left: 0px;
        margin-left: 0px;
        
    }

    .project-right {
        padding-left: 0px;
        margin-left: 0px;
        font-size: 0.50rem;
    }

    p { 
        text-align: justify;
    }

}