@import "../index.css";


#skill-grid {
    display: grid;
    margin-top: 60px;
    margin-bottom: 0px;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    grid-template-rows: repeat(2, 1fr); /* 2 rows */
    gap: 10px; /* Adjust as needed for spacing between items */
}

.skill {
    padding: 10px;
    text-align: center;
}

.skill-name {
    color: var(--text-dark);
}

.skill-icon{
    width: 50px;
    fill: var(--text-dark);
}

.section-header {
    flex: 1; /* Equal distribution of menu items */
    height: 2.25rem;
    text-align: center;
    color: var(--text-dark);
    font-size: 2.5rem;
    font-family: 'Zen Tokyo Zoo';
    font-weight: 400;
    letter-spacing: 0.1875rem; /* Adjust as needed */
    word-wrap: break-word;
}

hr{
    border: 2px solid var(--text-dark);
}

@media screen and (max-width: 1000px) {
    #skill-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 columns */
        grid-template-rows: repeat(4, 1fr); /* 4 rows */
    }
}
