@import "../index.css";

.job {
    display: flex;
    padding: 10px;
    color: var(--text-dark);
    margin: auto;
    margin-top: 50px;
    padding: 0px;
    width: 50%;
    
    /* background-color: blue; */
}

.job-left{
    width: 0%;
    /* background-color: blueviolet; */
}

.job-right{
    width: 100%;
    padding-left: 20px;
    text-align: left;
    text-justify: top;
    /* background-color: rgb(221, 255, 0); */
}

.job-name {
    padding: 0px;
    margin: 0px;
    color: var(--text-dark);
}

hr{
    border: 2px solid var(--text-dark);
}