@import "index.css";

#root {
  display: flex;
  max-width: 100%;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
  text-justify: left;
  /* overflow: hidden; */
}

body, html, #root{
  background-color: var(--background);
  font-family: var(--main-font);
  color: var(--text-dark);
  height: auto;
  margin: 0;
}

.main {
  position: relative;
  /* left: 0; */
  width: 100vw;
  height: 100dvh;
  /* overflow: hidden; */
  /* top: 0; */
  /* align-content: center;
  justify-content: center; */
}

.body-button {
  background-color: var(--text-highlight);
  margin: 50px 0px 0px 0px;
  color: var(--background);
  border-radius: 0%;
  transition: background-color .5s ease;
  box-sizing: border-box;
}

.body-button:hover {
  background-color: var(--secondary);
  color: var(--background);
  border-radius: 0%;
  transition: background-color, border-color .5s ease;
  border-color: var(--secondary);
  box-sizing: border-box;
}

/* .fade-enter {
  opacity: 1;
  transform: translateX(100%);
}
.fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.5s, transform 0.5s;
}
.fade-exit {
  opacity: 1;
  transform: translateX(-100%);
}
.fade-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.5s, transform 0.5s;
} */

motion.div {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}