@import "index.css";

#root {
  /* display: flex; */
  width: 100dvw;
  margin: 0px;
  padding: 0;
  text-align: center;
  justify-content: center;
  background-color: var(--background);
  overflow-x: hidden;
}

body {
  /* background-color: #74546A; */
  background-color: var(--background);
  font-family: var(--main-font);
  color: var(--text-dark);
  width: 100dvw;
  overflow-x: hidden;
}

.main {
  margin-top: 30px;
  margin-left: 100px;
  margin-right: 100px;
  padding: 0px;
}

.section-divider {
  position: relative;
  background-color: red;
  display: flex;
  height: 0px;
  margin-bottom: 55px;
  z-index: -7;
}

#skills-start{
  background-color: red;
}

#projects-start{
  background-color: red;
}

.vertical-container {
  display: flex;
  /* position: sticky;
  top: 55px; */
  justify-content: flex-start; /* Aligns columns closer */
  margin-right: 10px;
  padding: 0;
  margin: 0;
}

.vertical-container-sticky {
  display: flex;
  position: sticky;
  top: 60px;
  justify-content: flex-start; /* Aligns columns closer */
  margin-right: 10px;
  padding: 0;
  margin: 0;
}

.vertical-text {
  position: fixed;
  font-size: large;
  z-index: 4;
  color: var(--text-light);
  right: -20px;
  bottom: 20px;
  writing-mode: vertical-rl; /* vertical writing mode from right to left */
  text-orientation: mixed; /* allows the text to flow in vertical direction */
  white-space: nowrap; /* prevents text from wrapping horizontally */
  /* additional styles as needed */
}



.vertical-text-normal {
  writing-mode: vertical-rl; /* Vertical writing mode from right to left */
  text-orientation: upright; /* Keeps the text upright */
  white-space: nowrap; /* Prevents text from wrapping horizontally */
  font-size: 24px; /* Adjust font size as needed */
  line-height: 1.2; /* Adjust line height for spacing between letters */
  margin: 0px; /* Adjust the margin between the columns */
  padding: 0px;
  color: #1F271B;
  text-align: left;
}

/* Style each letter */
.vertical-text-normal p {
  display: inline-block;
  font-size: 2.5rem;
  font-family: 'Zen Tokyo Zoo';
  font-weight: 400;
  padding: 0;
  margin: 0;
  
}

.left-column {
  position: absolute;
  left: 0%;
  top: 100px;
  z-index: 2;
}

.right-column {
  position: absolute;
  left: 0%;
  top: 400px;
}

.vertical-text-normal p span {
  display: inline-block;
  transform-origin: 50% 50%;
  transform: rotate(-90deg); /* Rotate each letter 90 degrees counterclockwise */
}

.section-label {
  position: absolute;
  left: -80px;
  top: 70px;
  z-index: 2;
  color: var(--text-light);
}

.page-section {
  display: inline-block;
  margin-top: 0px;
  flex-direction: column;
  width: 80%;
  position: relative;
  z-index: 2;
  align-content: center;
  justify-content: center;

}

@media screen and (max-width: 1000px) {
  .main { 
    width: auto;
    margin: auto;
    overflow-x: hidden;
    
  }

  #root{
    width: auto;
  }
}